body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-1 .txt-1 {
  color: white;
}
@media (min-width: 1570px) {
  .container-1 .txt-1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 300;
  }
  .container-1 a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  .container-1 .img-1 {
    width: 20rem;
  }
  .container-1 .img-2 {
    width: 30rem;
    padding: 2rem;
  }
  .container-2 img {
    width: 40rem;
  }
  .container-2 h2{
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
  }
  .btn-2 {
    font-size: 20px;
  }
  .container-3 img {
    width: 30rem;
  }
  .container-3 ul li h4{
    font-size: 20px;
  }
  .container-3 h2{
    font-size: 40px;
  }
  .container-3 h3{
    font-size: 25px;
  }
  .btn-3 {
    font-size: 20px;
  }
  .container-4 img {
    width: 40rem;
  }
}
@media (max-width: 1569px) {
  .container-1 .txt-1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
  }
  .container-1 a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .container-1 .img-1 {
    width: 15rem;
    padding: 0rem;
  }
  .container-1 .img-2 {
    width: 20rem;
    padding: 1rem;
  }
  .container-2 img {
    width: 30rem;
  }
  .container-2 h2{
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
  }
  .btn-2 {
    font-size: 20px;
  }
  .container-3 img {
    width: 25rem;
  }
  .container-3 ul li h4{
    font-size: 25px;
  }
  .container-3 h2{
    font-size: 35px;
  }
  .container-3 h3{
    font-size: 25px;
  }
  .btn-3 {
    font-size: 20px;
  }
  .container-4 img {
    width: 40rem;
  }
}
@media (max-width: 1199px) {
  .container-1 .txt-1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
  }
  .container-1 a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .container-1 .img-1 {
    width: 15rem;
    padding: 0rem;
  }
  .container-1 .img-2 {
    width: 20rem;
    padding: 1rem;
  }
  .container-2 img {
    width: 15rem;
  }
  .container-2 h2{
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  .btn-2 {
    font-size: 15px;
  }
  .container-3 img {
    width: 15rem;
  }
  .container-3 ul li h4{
    font-size: 15px;
  }
  .container-3 h2{
    font-size: 18px;
  }
  .container-3 h3{
    font-size: 15px;
  }
  .btn-3 {
    font-size: 15px;
  }
  .container-4 img {
    width: 22rem;
  }
}
@media (max-width: 699px) {
  .container-1 .txt-1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
  }
  .container-1 a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .container-1 .img-1 {
    width: 12rem;

    padding: 0rem;
  }
  .container-1 .img-2 {
    width: 15rem;
    height: 10rem;
    padding: 1rem;
  }
  .container-2 img {
    width: 15rem;
  }
  .container-2 h2{
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  .btn-2 {
    font-size: 15px;
  }
  .container-3 img {
    width: 15rem;
  }
  .container-3 ul li h4{
    font-size: 15px;
  }
  .container-3 h2{
    font-size: 18px;
  }
  .container-3 h3{
    font-size: 15px;
  }
  .btn-3 {
    font-size: 15px;
  }
  .container-4 img {
    width: 22rem;
  }
}


.btn-1 {
  background-color: black;
  border-color: white;
}
.btn-1:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.container-2,
.container-3 {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.container-2 h2 {
  color: white;
  text-align: center;
}

.btn-2 {
  background-color: black;
  border-color: white;
}
.btn-2:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.btn-3 {
  background-color: black;
  border-color: white;
}
.btn-3:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.container-3 h2,
.container-3 h3 {
  color: white;
  text-align: center;
}

.container-3 ul li {
  color: rgb(212, 175, 55);
}

.container-4-main {
  min-height: 100%;
  min-width: 100%;
}
.body-f {
  background-image: linear-gradient(
      45deg,
      rgba(52, 58, 64, 0.7),
      rgba(33, 37, 41, 0.6)
    ),
    url("cocktail.jpg");
}



.container-4b {
  background-color: red;
}
.container-5 {
  min-height: 100vh;
  min-width: 100vh;
}


